/*
 * Want to change this website's styes? Learn more about CSS:
 * https://developer.mozilla.org/en-US/docs/Learn/CSS/Introduction_to_CSS
 */

/* FONTS */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 200;
  font-stretch: normal;
  font-display: swap;
  src: url('./assets/fonts/Inconsolata-ExtraLight.ttf') format('ttf');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url('./assets/fonts/Inconsolata-Regular.ttf') format('ttf');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url('./assets/fonts/Inconsolata-Bold.ttf') format('ttf');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* GENERAL */

html {
  /* palette */
  --color-red: rgb(255, 109, 63);
  --color-orange: rgb(255, 155, 0);
  --color-yellow: rgb(255, 218, 0);
  --color-green: rgb(149, 214, 65);
  --color-teal: rgb(28, 232, 181);
  --color-blue: rgb(63, 195, 255);
  --color-gray: rgb(184, 196, 201);
  --color-cerulean: rgb(130, 177, 255);
  --color-purple: rgb(179, 136, 255);
  --color-pink: rgb(248, 187, 208);
  --color-brown: rgb(215, 204, 200);
  /* choices */
  --color-default: var(--color-gray);
  --color-primary: var(--color-green);
  --color-primary-dark: rgb(125, 189, 40);
  --color-primary-light: rgb(173, 224, 108);
  --color-secondary: var(--color-orange);
  --color-secondary-dark: rgb(230, 138, 0);
  --color-secondary-light: rgb(255, 173, 51);
}

body {
  padding: 0 20px;
  background: #f0f0f0;
  font-family: 'Inconsolata';
  font-weight: 400;
}

.buttons {
  text-align: center;
  margin: 50px 0;
  border-top: 1px solid #00000017;
  padding-top: 50px;
}

button,
a.button {
  display: inline-block;
  outline: none;
  border: 0;
  padding: 20px 30px;
  font-family: "Inconsolata";
  border-radius: 5px;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
  font-size: 16px;
  background-color: var(--color-default);
  transition: all 0.1s ease-in;
}

button:hover,
a.button:hover {
  cursor: pointer;
}

.button-primary {
  background-color: var(--color-primary);
}
.button-primary:hover {
  background-color: var(--color-primary-light);
}
.button-secondary {
  background-color: var(--color-secondary);
}
.button-secondary:hover {
  background-color: var(--color-secondary-light);
}

/* NOTES */
#note-container {
  width: 100%;
}

.note {
  display: inline-block;
  width: 300px;
  background: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
  margin-bottom: 10px;
}

.note a.innerlink {
  white-space: pre-wrap; /* CSS3 */    
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */    
  white-space: -o-pre-wrap; /* Opera 7 */    
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.note ul {
  padding: 0 0 0 24px;
  margin: 0;
  list-style: none;
}

.note ul li input {
  margin-left: -24px;
}

.note small {
  text-align: right;
  display: block;
  color: black;
  opacity: 0.4;
  border-top: 1px solid rgba(0,0,0,0.3);
  margin-top: 10px;
  padding-top: 5px;
}

.note.archived {
  opacity: 0.3;
}

.RED {
  background-color: var(--color-red);
}
.ORANGE {
  background-color: var(--color-orange);
}
.YELLOW {
  background-color: var(--color-yellow);
}
.GREEN {
  background-color: var(--color-green); 
}
.TEAL {
  background-color: var(--color-teal); 
}
.BLUE {
  background-color: var(--color-blue); 
}
.GRAY {
  background-color: var(--color-gray);
}
.CERULEAN {
  background-color: var(--color-cerulean); 
}
.PURPLE {
  background-color: var(--color-purple); 
}
.PINK {
  background-color: var(--color-purple);
}
.BROWN {
  background-color: var(--color-brown); 
}

